@media screen and (min-width: 400px) {
  // DOCTOR PAGE
  .doctor-lists {
    @include d-flex(space-around);
    // height: 60vh;

    li.list {
      width: 45%;
      max-width: 230px;
    }

    .doctor-img {
      min-width: 150px;
      width: 80%;
      height: 160px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (min-width: 600px) {

  $left-margin: 180px;

  // NAVIGATION BAR

  header {
    button {
      display: none;
    }
  }
  .sidebar-dashboard,
  .shrink-navbar {
    position: fixed;
    transform: translateX(0%);
  }

  // HOME DOCTOR LIST PAGE

  .doctors-section {
    margin-left: 180px;

    .doctor-lists {
      @include d-flex(space-around);
      // flex-wrap: wrap;
      margin-top: 2rem;
      // height: 100vh;
    }
  
    .doctor-lists {
      @include d-flex(space-around);
      height: 60vh;
      
      
    }
  }

  // HOME DOCTOR DETAIL PAGE

  .doctor-details-section {
    margin-left: $left-margin;
  }

  // DOCTOR PAGE

  .doctor-list-section {
    margin-left: $left-margin;
  }

  .book-appointment-section { 
    margin-left: $left-margin;
  }

  .reservations-section {
    margin-left: $left-margin;
  }
}

@media screen and (min-width: 768px) {
  .doctor-lists {
    max-width: 768px;

    li.list {
      width: 30%;
      max-width: 250px;
    }
  
    .doctor-img {
      width: 180px;
      height: 170px;
  
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%
      }
    }
  }

   // DOCTOR DETAIL PAGE

  .detail-container {
    padding-top: 2rem;
    @include d-flex(space-between);
    align-items: flex-start;
    flex-wrap: wrap;
    // background-color: blue;

    .image {
      width: 65%;
      height: auto;
      margin: 2rem 0;
      text-align: left;
      // background-color: yellow;
    
      img {
        width: 90%;
        max-width: 600px;
      }
    }

    .details {
      width: 35%;
      // background-color: bisque;

      h5 {
        font-size: 1rem;
        margin: 2rem 3px 1.5rem;
      }
    }

    .ulIcon {
      // @include d-flex(space-between);
      text-align: right;
      
      ul {
        width: 100%;
      }

      .first {
        font-size: 0.8rem;
        
      }

      .iconColor {
        width: 100%;

        img {
          width: 100px;
        }
      }
    }
  }

}
