@import 'config';

.book-appointment-section {
  @extend %main-properties;
  text-align: center;

  h2 {
    margin: 1rem auto 2rem;
  }

}

form {
  .form-group {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: $secondary-color;
    padding: 4rem 3rem;
    border-radius: 8px;


    .sub-title {
      color: $text-color;
      padding-bottom: 2rem;
    }

    input {
      width: 80%;
      max-width: 400px;
    }
  }

  .btn-appointment button {
    @extend %btn-color;
    @extend %btn-properties;
  }
}

@import 'desktop';
