@import 'config';

.doctors-section {
  @extend %main-properties;
  @include d-flex(flex-start);
  flex-direction: column;
  text-align: center;

  h2.title {
    color: $primary-color;
    margin-top: 1rem;
  }

  h3.sous-title {
    color: $sous-title;
    margin: 0.8rem 0;
  }

  .points {
    color: $sous-title;
  }
}

.doctor-lists {
  @include d-flex(space-around);
  // height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-bottom: 3rem;
  // background-color: rgba(255, 0, 0, 0.658);
 
  li.list {
    width: 100%;
    margin: 0.5rem 0.3rem 1.3rem;
    // text-align: center;
    background-color: rgba(240, 255, 255, 0.479);
    border-radius: 8px;
  }

  .doctor-img {
    width: 200px;
    height: 180px;
    margin: 0 auto;
  
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;

      &:hover{
        opacity: 0.8;
        transform: scale(1.1);
        box-shadow: 10px 8px 16px rgba(79, 156, 192, 0.384);
      }
    }
  }

  h5.name {
    color: $primary-color;
    margin: 1rem 0;
  }

  p.email {
    color: $sous-title;
    font-size: 0.8rem;
    padding: 0 0.5rem;
  }

  button {
    padding: 8px 16px;
    margin: 1rem;
    font-size: 1rem;
    @extend %btn-properties;
    @extend %btn-color;
    // color: $text-color;
  }

  .icon-links {
    @include d-flex(center);
    margin: 0.5rem auto 0;
    width: 150px;
  }
  
  .link {
    margin: 0px 10px;
    // border-color: aquamarine;
    
    svg {
      border: 2px solid $sous-title;
      border-radius: 15px;
      padding: 5px;
      font-size: 2rem;
      color: $sous-title;
    }
  }
}

// DOCTOR DETAIL PAGE

.doctor-details-section {
  @extend %main-properties;
  // padding: 0;
  height: 100%;
  // background-color: $text-color;

  h2 {
    margin: 1rem auto 1rem;
  }

}
.detail-container {
  width: 100%;
  margin: 0 auto;
  // @include d-flex(flex-start);
  // flex-wrap: wrap;
  // background-color: green;

  .image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    
    img {
      max-width: 350px;
      width: 90%;
      border-radius: 16px;
      // height: 100;
    }
  }

  .details {
    width: 100%;
    color: $primary-color;
    // background-color: bisque;

    h5.name {
      font-size: 1rem;
      margin: 1rem 3px 1.5rem;
    }

    p.email {
      @extend h5;
    }
  }

  .ulIcon {
    width: 100%;
    // background-color: blue;
    ul {
      width: 100%;
    }

    .first {
      @include d-flex(space-between);
      padding: 10px 3px;
      margin: 5px 0;
      
      &:nth-child(odd) {
        background-color: $sous-title;
      }
    }

    .iconColor {
      // display: none;
      width: 100%;
      text-align: right;

      img {
        width: 80px;
        height: auto;
      }
    }
  }
}


.doctor-list-section {
  @extend .doctors-section;
}

.all-doctor-lists {
  @extend .doctor-lists;

  .doctors-imgs {
    @include d-flex(center);
    width: 250px;
    height: 230px;
    margin: 0 auto;
    background-color: $background-color;
    // padding: 3%;

    img {
      width: 94%;
      height: 94%;
      border-radius: 8px;
      transition: all 0.4s ease-in-out;

      &:hover{
        width: 100%;
        height: 100%;
        opacity: 0.8;
        box-shadow: 10px 8px 16px rgba(79, 156, 192, 0.384);
      }
    }
  }
}

@import 'desktop';
