@import 'config';


header {
  height: 100%;
  position: fixed;

  button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    z-index: 3;
    background-color: transparent;
  }
}

.sidebar-dashboard,
.shrink-navbar {
  @extend %main-properties;

  @include d-flex(flex-start);
  // justify-content: space-between;

  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 100vh;
  padding: 0;
  background-color: $background-color;
  transform: translateX(0);
  transition: all 1s ease-in-out;

  .image {
    width: 90px;
    height: auto;
    display: inline-block;
    margin: 4rem auto;

    img {
      width: 100%;
      height: auto;
      background-color: $secondary-color;
      border-radius: 50%;
    }
  }

  .list-links {
    // background-color: blue;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-items: flex-start;
    // background-color: red;
  }

  .nav-link {
    // background-color: red;
    // display: inline-block;
    margin: 30px 0;
    flex: 1;

    a {
      width: 100%;
      height: 100%;
      padding: 6px 16px;
      // color: $primary-color;
      font-size: 1rem;
    }
  }

  .footer {

    margin-top: auto;
    margin-bottom: 1rem;
  
    .social-icons {
      font-size: 1rem;
  
      @include d-flex(center);
  
      // display: inline;

      .social-link {
        margin: 0 5px;
        font-size: 0.8rem;
      }
    }

    p {
      font-size: 0.6rem;
      margin-top: 5px;
    }
  }
}


.shrink-navbar {
  // background-color: red;
  transform: translateX(-99%);
}

@import 'desktop';
