:root {
  --text-color: #fafafa;
  --primary-color: #121212;
  --secondary-color: rgba(36, 171, 212, 0.897);
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-size: 16px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

li a {
  color: var(--primary-color);
}

a.active {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
